body {
  height: 100%;
  background: url('../images/dark-hardback.png') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 1.063em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  position: absolute;
  top: 365px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 40.3333333333%;
  min-width: 350px;
  height: 55px;
  margin: 0 auto;
}

.container .text {
  top: 10px;
  left: 7%;
  z-index: 2;
  width: 32.6359832635%;
  min-width: 130px;
  min-height: 31px;
  border-radius: 2px;
  font-size: 1.235em;
  color: rgb(19, 19, 19);
}

.element {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  width: 66.3333333333%;
  height: 735px;
  margin: 0 auto;
  border: 3px solid rgb(95, 127, 255);
  border-radius: 25px;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(204, 210, 232) 53.095238095238095%, rgb(255, 255, 255) 99.76190476190476%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(204, 210, 232) 53.095238095238095%, rgb(255, 255, 255) 99.76190476190476%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(204, 210, 232) 53.095238095238095%, rgb(255, 255, 255) 99.76190476190476%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(204, 210, 232) 53.095238095238095%, rgb(255, 255, 255) 99.76190476190476%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(255, 255, 255) 0%, rgb(204, 210, 232) 53.095238095238095%, rgb(255, 255, 255) 99.76190476190476%) rgb(222, 222, 222);
}

.image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 270px;
  max-width: 475px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  position: absolute;
  text-align: center;
}

._button {
  display: block;
  text-align: center;
}

._input {
  display: block;
  float: left;
  width: 39.4628099173%;
  height: 31px;
  margin: 10px 0 0 41.94215%;
  padding: 0 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.765em;
  color: rgb(0, 0, 0);
}

.image-1 {
  top: 58px;
  z-index: 5;
  width: 38.5833333333%;
}

.image-2 {
  top: 573px;
  z-index: 8;
  width: 36.1666666666%;
}

.text-2 {
  top: 540px;
  left: 0;
  right: 0;
  z-index: 6;
  width: 47.0833333333%;
  min-height: 20px;
  margin: 0 auto;
  font-size: 1.059em;
  color: rgb(0, 0, 0);
}

._button-1 {
  position: absolute;
  top: 293px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 29.8333333333%;
  height: 66px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button-2 {
  position: absolute;
  top: 428px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 138px;
  height: 37px;
  margin: 0 auto;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  background: rgb(198, 204, 244);
  background: -webkit-linear-gradient(269deg, rgb(198, 204, 244) 0%, rgb(0, 50, 248) 27.380952380952383%, rgb(0, 50, 248) 76.66666666666667%, rgb(203, 203, 243) 100%) rgb(77, 91, 147);
  background:    -moz-linear-gradient(269deg, rgb(198, 204, 244) 0%, rgb(0, 50, 248) 27.380952380952383%, rgb(0, 50, 248) 76.66666666666667%, rgb(203, 203, 243) 100%) rgb(77, 91, 147);
  background:      -o-linear-gradient(269deg, rgb(198, 204, 244) 0%, rgb(0, 50, 248) 27.380952380952383%, rgb(0, 50, 248) 76.66666666666667%, rgb(203, 203, 243) 100%) rgb(77, 91, 147);
  background:     -ms-linear-gradient(269deg, rgb(198, 204, 244) 0%, rgb(0, 50, 248) 27.380952380952383%, rgb(0, 50, 248) 76.66666666666667%, rgb(203, 203, 243) 100%) rgb(77, 91, 147);
  background:         linear-gradient(181deg, rgb(198, 204, 244) 0%, rgb(0, 50, 248) 27.380952380952383%, rgb(0, 50, 248) 76.66666666666667%, rgb(203, 203, 243) 100%) rgb(77, 91, 147);
  font-size: 1.294em;
  color: rgb(255, 255, 255);
}

._button-3 {
  position: relative;
  float: right;
  z-index: 7;
  width: 101px;
  height: 37px;
  margin: 495px 21.98047% 0 0;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(271deg, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 36.19047619047619%, rgb(190, 190, 190) 63.57142857142857%, rgb(255, 255, 255) 100%) rgb(77, 91, 147);
  background:    -moz-linear-gradient(271deg, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 36.19047619047619%, rgb(190, 190, 190) 63.57142857142857%, rgb(255, 255, 255) 100%) rgb(77, 91, 147);
  background:      -o-linear-gradient(271deg, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 36.19047619047619%, rgb(190, 190, 190) 63.57142857142857%, rgb(255, 255, 255) 100%) rgb(77, 91, 147);
  background:     -ms-linear-gradient(271deg, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 36.19047619047619%, rgb(190, 190, 190) 63.57142857142857%, rgb(255, 255, 255) 100%) rgb(77, 91, 147);
  background:         linear-gradient(179deg, rgb(255, 255, 255) 0%, rgb(190, 190, 190) 36.19047619047619%, rgb(190, 190, 190) 63.57142857142857%, rgb(255, 255, 255) 100%) rgb(77, 91, 147);
  font-size: 0.941em;
  color: rgb(4, 4, 4);
}